/* reset */
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: #333;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ddd;
}

/* header */
.App-logo {
  pointer-events: none;
  width: 88px;
  margin-left: 30px;
}

.App-header {
  /* background-color: #333; */
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between; 
}

.App-header ul {
  display: flex;
  padding: 10px;
  position: absolute;
  top: 15%;
  margin-left: 15px;
}
.App-header ul li {
  cursor: pointer;
  letter-spacing: 1px;
}

.App-header .left_menu li, .App-header .right_menu li {
  margin-left: 17px;
  color: #ddd;
  font-size: 14px;
}

.App-header .left_menu{
  left: 170px;
  margin: 0px;
}

.App-header .right_menu{
  right: 4vw;
}

.App-header #menu {
  display: none;
  margin-left: 42px;
}

footer {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  z-index: 2;
  font: 12px/1 "arial";
  color: #ddd;
  letter-spacing: 2px;
  transform: translateX(-50%);
}


@media screen and (max-width: 639px) {
  .App-header .left_menu {
    display: none;
  }
  .App-header #menu {
    display: inline;
  }
}