/* reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none;
  color: #ddd; }

.App {
  background-color: #111; }

/* Category.css */
.category {
  overflow-x: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  margin-top: 200px;
  top: 2.5rem;
  left: 0;
  font-size: 13px; }
  .category ul {
    z-index: 100; }
  .category .like-table {
    display: table-cell;
    background-color: #222; }

/* NavBar.css */
a:hover {
  color: #ddd; }

/* header */
.logo {
  pointer-events: none;
  width: 88px;
  margin-left: 45px; }

.header {
  /* background-color: #333; */
  width: 100%;
  height: 55px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  position: relative; }

.header ul {
  display: flex;
  padding: 10px;
  position: absolute;
  top: 15%; }

.header ul li {
  cursor: pointer;
  letter-spacing: 1px; }

.header .left_menu li, .header .right_menu li {
  margin-left: 17px;
  color: #ddd;
  font-size: 15px; }

.header .left_menu {
  left: 170px;
  margin: 0px; }

.header .right_menu {
  right: 4vw; }

.header .navigation-menu {
  display: none;
  margin-left: 42px; }

.show-menu {
  border: 1px solid #292929;
  border-top: 2px solid #ddd;
  background-color: rgba(15, 15, 15, 0.9);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: auto;
  margin-top: 45px;
  padding: 0px;
  left: 90px;
  text-align: center;
  flex-direction: column; }

.show-menu li {
  padding: 10px 0px 10px 0px; }

.show-menu li:hover {
  background-color: rgba(51, 51, 51, 0.7); }

.hide-menu, .search-hide {
  visibility: hidden; }

.search {
  right: 85px;
  position: absolute;
  display: inline-block; }

.searchInput {
  width: 0px;
  height: 34px;
  border: 1px solid transparent;
  box-shadow: none;
  outline: none;
  padding: 4px;
  padding-left: 35px;
  font-size: 14px;
  transition: 1s ease all;
  color: #eee;
  top: -5px;
  transform: translateY(-20%);
  background-color: rgba(240, 248, 255, 0); }

.toggle {
  width: 240px;
  border-color: #eee;
  background-color: rgba(20, 20, 20, 0.9); }

.searchIcon {
  width: 18px;
  left: 8px;
  top: 50%;
  transform: translateY(-90%);
  position: absolute; }

@media screen and (max-width: 754px) {
  .header .left_menu {
    display: none; }

  .header .navigation-menu {
    display: inline; } }
/* Like.css */
html {
  scroll-behavior: smooth;
  background-color: #111;
  color: #eee; }

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.sub-header {
  position: relative;
  padding: 0 4%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 41px; }
  .sub-header .row-header {
    line-height: 1.3;
    margin: 0; }

.favorite {
  position: relative;
  padding: 0 4%;
  min-height: 1000px; }
  .favorite h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Arial;
    color: #eee; }
  .favorite .row-container {
    white-space: nowrap; }
    .favorite .row-container .item {
      box-sizing: border-box;
      z-index: 1;
      display: inline-block;
      position: relative;
      vertical-align: top;
      padding: 0 0.2vw;
      z-index: 1;
      width: 20%; }
      .favorite .row-container .item .boxart-size-16x9 {
        width: 100%;
        height: 0;
        position: relative;
        overflow: hidden;
        padding: 28.125% 0; }
      .favorite .row-container .item .boxart-contaioner {
        display: block; }
      .favorite .row-container .item .boxart-rounded {
        -webkit-border-radius: 0.2vw;
        -moz-border-radius: .2vw;
        border-radius: 0.2vw; }
      .favorite .row-container .item:hover {
        z-index: 2 !important;
        transform: scale(1.2); }
      .favorite .row-container .item img {
        border: 0;
        cursor: pointer; }
      .favorite .row-container .item .boxart-image-in-padded-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%; }
      .favorite .row-container .item .fallback-text-container {
        background-color: #222; }
        .favorite .row-container .item .fallback-text-container .fallback-text {
          display: hidden; }

.minimodal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }

/* Home.css */
html {
  scroll-behavior: smooth;
  background-color: #111; }

/* footer */
.footer {
  max-width: 980px;
  margin: 20px auto 0;
  padding: 0 4%;
  left: 50%; }

.footer-copyright {
  text-align: center;
  font: 12px/1 "arial";
  color: #ddd;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 15px; }

/* MiniModal.css */
.minimodal-wrapper {
  overflow: initial;
  display: inline-block;
  position: inherit;
  border-radius: 2em;
  background-color: #1e1e1e; }
  .minimodal-wrapper .minimodal-poster-size-16x9 {
    width: 100%;
    height: 0;
    position: relative;
    overflow: auto;
    padding: 28.125% 0; }
    .minimodal-wrapper .minimodal-poster-size-16x9 img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%; }
  .minimodal-wrapper .minimodal-poster-contaioner {
    display: block; }
  .minimodal-wrapper .minimodal-metadata {
    display: grid; }
    .minimodal-wrapper .minimodal-metadata .buttons {
      display: flex; }
    .minimodal-wrapper .minimodal-metadata .buttons-right {
      margin-left: auto; }
  .minimodal-wrapper button {
    border-width: 2px;
    background-color: rgba(42, 42, 42, 0.6);
    border-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.7);
    color: white;
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    opacity: 1;
    padding: 0.8rem;
    position: relative;
    user-select: none;
    will-change: background-color, color;
    word-break: break-word;
    white-space: nowrap; }
  .minimodal-wrapper .round {
    border-radius: 50%;
    margin: 0.25em; }
  .minimodal-wrapper .meta-thumb-container {
    display: inline-block;
    margin-bottom: -2px; }
  .minimodal-wrapper .characteristic-list {
    display: flex;
    padding-right: 0.5vw; }
    .minimodal-wrapper .characteristic-list .characteristic-item {
      display: inline-block; }
      .minimodal-wrapper .characteristic-list .characteristic-item .characteristic-text {
        line-height: 1.4; }
      .minimodal-wrapper .characteristic-list .characteristic-item .characteristic-separator {
        display: inline-block; }
        .minimodal-wrapper .characteristic-list .characteristic-item .characteristic-separator::before {
          content: "\2022";
          color: #646464;
          display: inline-block;
          padding-right: .5vw;
          font-size: 1vw; }
  .minimodal-wrapper .match-score-wrapper .show-match-score .thumb-down svg, .minimodal-wrapper .match-score-wrapper .show-match-score .thumb-up svg {
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
    -webkit-transition: width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.1s, opacity 150ms linear 950ms;
    -o-transition: width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.1s, opacity 150ms linear 950ms;
    -moz-transition: width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.1s, opacity 150ms linear 950ms;
    transition: width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.1s, opacity 150ms linear 950ms; }

/* Row.css */
.recommend {
  margin: 0px 40px 0px 40px; }
  .recommend h1 {
    font-family: Arial;
    color: #eee;
    text-align: left;
    margin-top: 100px;
    font-size: 22px; }
  .recommend .swiper-container {
    width: 100%;
    margin: 5px 0px; }
    .recommend .swiper-container .swiper-slide {
      padding: 2 2px;
      transition: .25s linear all; }
      .recommend .swiper-container .swiper-slide img {
        width: 275px;
        height: auto;
        border-radius: 2px; }
        @media only screen and (max-width: 1399px) {
          .recommend .swiper-container .swiper-slide img {
            width: 252px; } }
        @media only screen and (max-width: 1099px) {
          .recommend .swiper-container .swiper-slide img {
            width: 248px; } }
        @media only screen and (max-width: 799px) {
          .recommend .swiper-container .swiper-slide img {
            width: 242px; } }
        @media only screen and (max-width: 499px) {
          .recommend .swiper-container .swiper-slide img {
            width: 207px; } }
    .recommend .swiper-container .arrow__btn {
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 5.5em;
      background: rgba(0, 0, 0, 0.7);
      height: 200px;
      width: 40px;
      z-index: 1;
      top: 0px;
      margin: -23px -10px;
      padding-bottom: 10px;
      opacity: 0; }
      .recommend .swiper-container .arrow__btn:hover {
        opacity: 1; }
      .recommend .swiper-container .arrow__btn::after {
        display: none; }

@media only screen and (max-width: 600px) {
  .arrow__btn {
    display: none; } }
/* Banner.css */
.banner {
  color: white;
  object-fit: contain;
  height: 750px;
  margin-bottom: 20px; }
  .banner .banner__contents {
    margin-left: 30px;
    padding-top: 130px;
    height: 190px; }
  .banner .banner__title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem; }
  .banner .banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.2rem;
    max-width: 360px;
    height: 200px; }
  .banner .banner__button {
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .banner .play {
    background-color: #fff;
    color: #222; }
    .banner .play:hover {
      color: white;
      background-color: #3d3d3d;
      transition: all 0.2s; }
  .banner .board {
    background-color: rgba(85, 85, 85, 0.8);
    color: #fff; }
    .banner .board:hover {
      color: #000;
      background-color: #e6e6e6;
      transition: all 0.2s; }
  .banner .banner__top {
    height: 10rem;
    background-image: linear-gradient(360deg, transparent, rgba(37, 37, 37, 0.61), #111); }
  .banner .banner__fadeBottom {
    height: 10rem;
    margin-top: 240px;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111); }

/*# sourceMappingURL=App.css.map */
