  /* footer */
  .footer {
    max-width: 980px;
    margin: 20px auto 0;
    padding: 0 4%;
    padding-top: 50px;
    left: 50%;
  }

  .footer-copyright {
    text-align: center;
    font: 12px/1 "arial";
    color: #ddd;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 15px;
  }