/* MiniModal.css */
.minimodal-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    button{
        border-width: 2px;
        background-color: rgba(42,42,42,.6);
        border-color: rgba(255,255,255,.5);
        border: 2px solid rgba(255, 255, 255, 0.7);
        color: white;
        -webkit-box-align: center;
        align-items: center;
        appearance: none;
        cursor: pointer;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        opacity: 1;
        padding: 0.8rem;
        position: relative;
        user-select: none;
        will-change: background-color, color;
        word-break: break-word;
        white-space: nowrap;
    }
    .buttons-control{
        display: flex;
        *{
            margin: 0.25em;
        }
    }
    .round{
        border-radius: 50%;
    }
}