/* NavBar.css */
a:hover {
  color: #ddd;
}

/* header */
.header-logo {
    pointer-events: none;
    width: 88px;
    margin-left: 45px;
  }
  
  .header {
    /* background-color: #333; */
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0px;
    left: 0px;
    // z-index: 2;
    display: flex;
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0);
    position:relative;
  }
  
  .header ul {
    display: flex;
    padding: 10px;
    position: absolute;
    top: 15%;
  }
  .header ul li {
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .header .left_menu li, .header .right_menu li {
    margin-left: 17px;
    color: #ddd;
    font-size: 15px;
  }
  
  .header .left_menu{
    left: 170px;
    margin: 0px;
  }
  
  .header .right_menu{
    right: 4vw;
  }
  
  .header .navigation-menu {
    display: none;
    margin-left: 42px;
  }
  
  .show-menu{
    border: 1px solid rgb(41, 41, 41);
    border-top: 2px solid #ddd;
    background-color: rgba(15, 15, 15, 0.9);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    margin-top: 45px;
    padding: 0px;
    left: 90px;
    text-align:center;
    flex-direction: column;
  }

  .show-menu li {
    padding: 10px 0px 10px 0px;
  }

  .show-menu li:hover {
    background-color: rgba(51, 51, 51, 0.7);
  }
  
  .hide-menu, .search-hide {
    visibility: hidden ;
  }

  .search {
    right: 85px;
    position: absolute;
    display: inline-block;
  }
  
  .searchInput {
    width: 0px;
    height: 34px;
    border: 1px solid transparent;
    box-shadow: none;
    outline: none;
    padding: 4px;
    padding-left: 35px;
    font-size: 14px;
    transition: 1s ease all;
    color: #eee;
    top: -5px;
    transform: translateY(-20%); 
    background-color: rgba(240, 248, 255, 0);
  }

  .toggle {
    width: 240px;
    border-color: #eee;
    background-color: rgba(20, 20, 20, 0.9);
  }

  .searchIcon {
    width: 18px;
    left: 8px;
    top: 50%;
    transform: translateY(-90%);
    position: absolute;
  }

  

  @media screen and (max-width: 754px) {
    .header .left_menu {
      display: none;
    }
    .header .navigation-menu {
      display: inline;
    }
  }


